<div id="addComment">
  {{ form_start(form) }}
  <div class="formInput">
    {{ form_label(form.name) }}
    {% if form_errors(form.name) is not empty %}
      <div class="errors">{{ form_errors(form.name) }}</div>
    {% endif %}
    {{ form_widget(form.name) }}
  </div>
  <div class="formInput">
    {{ form_label(form.text) }}
    {% if form_errors(form.text) is not empty %}
      <div class="errors">{{ form_errors(form.text) }}</div>
    {% endif %}
    {{ form_widget(form.text) }}
  </div>
  <div class="formInput">
    <div class="flex">
      <legend>Note</legend>
      {% for item in form.note %}
        <input type="radio" value="{{ field_value(item) }}" name="{{ field_name(item) }}" id="{{ field_value(item) }}" />
        <label class="stars" for="{{ field_value(item) }}">{% include '_partials/_svg/_star.html.twig' %}</label>
      {% endfor %}
    </div>
    {% if form_errors(form.note) is not empty %}
      <div class="errors">{{ form_errors(form.note) }}</div>
    {% endif %}
  </div>

  {{ form_end(form) }}
</div>
